<form{{ attributes }}>
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
    <div>
        {{ form.show }}
    </div>
    <div>
        {{ form.submit }} {{ form.step_button }} {{ form.play_button }}
    </div>
</form>
<div class="show"></div>
